.image-inline-with-text {
    width: 1em;
    height: 1em;
}

.button-small {
    width: 70px;
    height: 30px;
    font-size: 0.7em;
}

.text-bordering-button {
    margin: 0 10px;  // Add a margin to the text to create some space between the text and the button
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line */
}
.row {
    max-width: 30%; /* Adjust this value to your needs */
    overflow-x: auto; /* Adds a horizontal scrollbar if needed */
    margin-bottom: 10px; /* Adds space below each row */
}

.btn-primary {
    background: linear-gradient(to right, #1e3c72 0%, #2a5298 100%);
    border: none;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    
}

.btn-primary:hover {
    background: linear-gradient(to right, #2a5298 0%, #1e3c72 100%);
}

.btn-toggle {
    background: linear-gradient(to right, #1e3c72 0%, #2a5298 100%);
    border: none;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-bottom: 10px; /* Adds space below the button */
}

.btn-toggle:hover {
    background: linear-gradient(to right, #2a5298 0%, #1e3c72 100%);
}
.flex-container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -150px; /* Adjust this value to move the third column closer or further from the second column */
}
.done-image{
    width: 2em;
    height: 2em;
    margin-left: 205px;
}