@page "/counter"
@inject ipsen5_data_hound.Services.CounterService CounterService
@inject ipsen5_data_hound.Services.ValuesService ValuesService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p>Total completed cases: @ValuesService.GetTotalCompletedCases()</p>
<p>In action cases: @ValuesService.GetInActionCases()</p>
<p>Non active cases: @ValuesService.GetNonActiveCases()</p>

@code
{
    void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}