
@page "/home"
@inject ipsen5_data_hound.Services.ValuesService ValuesService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Welkom!</h1>

Een hele fijne dag gewenst!

@code
{
    private void AddNewCase()
    {
        ValuesService.AddNewCase();
    }
}
